[Unit]
Description=uWSGI service
After=syslog.target

[Service]
ExecStart=/root/myvenv/bin/uwsgi --emperor /root/antenna_Server/.config/wsgi

Restart=always
KillSignal=SIGQUIT
Type=notify
StandardError=syslog
NotifyAccess=all

[Install]
WantedBy=multi-user.target
